Q-1. Write an SQL query to show only odd rows from a table.

Select * from table_name where (RowID % 2) = 1

Q-2. Write an SQL query to clone a new table from another table.

CREATE TABLE new_table SELECT * FROM original_table;