Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

Ans: SELECT * FROM Worker WHERE FIRST_NAME NOT IN("Vipul", "Satish");

Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

Ans: SELECT * FROM Worker ORDER BY FIRST_NAME ASC, DEPARTMENT DESC;

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

Ans: SELECT * FROM Worker WHERE FIRST_NAME LIKE "_h";