Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

Ans: SELECT LEFT(FIRST_NAME,3) FROM Worker;

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

Ans: SELECT POSITION('a' in FIRST_NAME) FROM Worker;

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

Ans: SELECT FIRST_NAME FROM Worker WHERE (DEPARTMENT, SALARY) IN (SELECT DEPARTMENT, MAX(SALARY) FROM Worker GROUP BY DEPARTMENT);